
.voorpagina{
	background: url("void.jpg") no-repeat center fixed;
	background-size: cover;
}

.achterpagina{

}

.container{
	max-width: 50%;
	padding-top: 100px;
}

.btn-danger {
	justify-content: center;
}

.btn-dark {
	padding: 1rem 1.5rem;
	margin: center;
	background-color: black;
	position:absolute;
	transition: 2s ease;
	top: 42%;
	left: 53%;
	border-radius: 50px;
}


.form-group {
	color: black;
}
